@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
* {
    font-family: "Space Grotesk", serif;
    box-sizing: border-box;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

body {
    min-width: 375px;
    background-color: rgb(22, 25, 40);
    color: white;
}

/* start nav */
.searchbox {
    width: 250px;
}

/* jquery ui autocomplement  */
.ui-autocomplete {

    width: 245px;
    max-height: 200px;

    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;

    background-color: #fff;

    padding: 0px 13px;

    border-radius: 0 0 5px 5px;
}

.ui-menu-item {
    width: 100% !important;
    color: #000;

    list-style: none;
    padding: 5px 0;

    cursor: pointer;

}

.ui-menu-item:hover {
    background-color: #f6f6f6;
}

/* end nav */

/* start todayoverviews */
.todayoverviews{
    height: 250px;
    background-color: #958f8f5c;
    border-radius: 20px;
    overflow: hidden;
}
.todayoverviews .todayweather>div>h3 {
    letter-spacing: 1.5px;
}

.todayweather>div>span {
    font-size: 1vw;
}

.todayoverviews .hourlyweather{
    scrollbar-width: none; /* firebox*/
}

.hourlyweather::-webkit-scrollbar{
    display: none;
}

.hourlyweather > .card{
    width: 75px;
    background-color: #ccc;
    border-radius: 12px;
}

#flag{
    width: 80px;
    height: 40px;
}

#map{
    min-height: 250px;
    border-radius: 20px;
}

/* end todayoverviews */


/* x-small */
@media (max-width : 576px) {
    .todayoverviews .todayweather>div>h3 {
        font-size: 16px;
    }
}